<div class="card">
  <div class="card-header">
    <h4> Events List</h4>
  </div>
  <table class="table table-striped" *ngIf="!!dataSource">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>title</th>
      <th>Date</th>
      <th>Place</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let evenement of dataSource ; index as i">
      <td>{{i + 1}}</td>
      <td>{{evenement.titre}}</td>
      <td>{{evenement.date}}</td>
      <td>{{evenement.lieu}}</td>
      <td>
        <a [routerLink]="'/evenements/'+evenement.id + '/edit'" class="btn btn-secondary"
           [state]="{ lastRoute:'profile' }">
          <i class="fas fa-angle-double-right"></i> Details
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>