<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
            alt=""/>
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file"/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5 *ngIf="!!dataBaseMember">
            {{dataBaseMember.prenom + " " + dataBaseMember.nom}}
          </h5>
          <h6>
            {{memberRole}}
          </h6>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active general" id="home-tab" data-toggle="tab" href="#home" role="tab"
                 aria-controls="home"
                 aria-selected="true">General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="publications-tab" data-toggle="tab" href="#publications" role="tab"
                 aria-controls="publications"
                 aria-selected="false">Publications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="evenement-tab" data-toggle="tab" href="#evenements" role="tab"
                 aria-controls="evenement"
                 aria-selected="false">Evenements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="outils-tab" data-toggle="tab" href="#outils" role="tab" aria-controls="outils"
                 aria-selected="false">outils</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <button class="profile-edit-btn" routerLink="/edit-profile"
                [state]="{ currentUser: dataBaseMember }">Edit Profile
        </button>
      </div>
    </div>


    <div class="row">
      <!--      General tab-->
      <div class="col-md-8 offset-4">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>{{id}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p *ngIf="!!dataBaseMember">{{dataBaseMember.prenom + " " + dataBaseMember.nom}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{memberEmail}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p *ngIf="!!dataBaseMember">{{this.dataBaseMember.phone}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Role</label>
              </div>
              <div class="col-md-6">
                <p>{{memberRole}}</p>
              </div>
            </div>
          </div>


          <!--      Publication tab-->

          <div class="tab-pane fade" id="publications" role="tabpanel" aria-labelledby="publications-tab">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Date Creation</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody *ngIf="!!publications">
              <tr *ngFor="let pub of publications; index as i ">
                <th scope="row">{{i}}</th>
                <td>{{pub.titre}}</td>
                <td>{{pub.dateApparition}}</td>
                <td>
                  <ul class="list-inline m-0">
                    <li class="list-inline-item">
                      <button [state]="{ lastRoute: 'profile' }" [routerLink]="['/publications' , pub.id, 'edit']"
                              class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                              data-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                              data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>


          <!--  Outils Tab -->
          <div class="tab-pane fade" id="outils" role="tabpanel" aria-labelledby="outils-tab">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">source</th>
                <th scope="col">Date Creation</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody *ngIf="!!outils">
              <tr *ngFor="let outil of outils; index as i ">
                <th scope="row">{{i}}</th>
                <td>{{outil.source}}</td>
                <td>{{outil.date}}</td>
                <td>
                  <ul class="list-inline m-0">
                    <li class="list-inline-item">
                      <button [state]="{ lastRoute: 'profile' }" [routerLink]="['/outils' , outil.id, 'edit']"
                              class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                              data-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                              data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>


          <!--  Evenement Tab -->
          <div class="tab-pane fade" id="evenements" role="tabpanel" aria-labelledby="evenements-tab">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">source</th>
                <th scope="col">Date Creation</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody *ngIf="!!evenements">
              <tr *ngFor="let event of evenements; index as i ">
                <th scope="row">{{i}}</th>
                <td>{{event.titre}}</td>
                <td>{{event.date}}</td>
                <td>
                  <ul class="list-inline m-0">
                    <li class="list-inline-item">
                      <button [state]="{ lastRoute: 'profile' }" [routerLink]="['/evenement' , event.id, 'edit']"
                              class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                              data-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                              data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
