<div class="card">
  <div class="card-header">
    <h4> Posts List</h4>
  </div>
  <table class="table table-striped" *ngIf="!!dataSource">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Type</th>
      <th>Link</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let publication of dataSource ; index as i">
      <td>{{i + 1}}</td>
      <td>{{publication.titre}}</td>
      <td>{{publication.type}}</td>
      <td>{{publication.lien}}</td>
      <td>
        <a [routerLink]="'/publications/'+publication.id + '/edit'" class="btn btn-secondary"
           [state]="{ lastRoute:'profile' }">
          <i class="fas fa-angle-double-right"></i> Details
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


