<!-- <div class="container">

  <h4> 'Edit Profile' </h4>

  <form [formGroup]="form" *ngIf="!!form"  (ngSubmit)="onSubmit()" class="form" fxLayout="column">

    <mat-form-field>
      <input matInput placeholder="cin" formControlName="cin">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="nom" formControlName="nom">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="prenom" formControlName="prenom">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="cv" formControlName="cv">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="phone" formControlName="phone">
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
    </div>

  </form>
</div> -->

<!-- DETAILS -->
<section id="details">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Edit Profile</h4>
          </div>
          <div class="card-body">

            <form [formGroup]="form" *ngIf="!!form"  (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>CIN</label>
                <input type="text" class="form-control" placeholder="cin" formControlName="cin">
              </div>
              <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" placeholder="nom" formControlName="nom">
              </div>

              <div class="form-group">
                <label>prenom</label>
                <input type="text" class="form-control" placeholder="prenom" formControlName="prenom">
              </div>

              <div class="form-group">
                <label>CV</label>
                <input type="text" class="form-control" placeholder="CV" formControlName="cv">
              </div>

              <div class="form-group">
                <label>phone</label>
                <input type="text" class="form-control" placeholder="phone" formControlName="phone">
              </div>

              <div class="form-group">
                <label>date Naissance</label>
                <input type="text" class="form-control" placeholder="dateNaissance" formControlName="dateNaissance">
              </div>

              <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="submit" [disabled]="form.invalid">Save
                  Changes
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
